body{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

#fullName {
    align-self: center;
    font-size: xx-large;
    width: fit-content;
    text-align: center;
    background-color:royalblue;
    text-decoration: none;
}
.hero{
    display: flex;
    flex-direction: column;
    background-image: url(banner.jpg);
  
    width: 100vw;
    height: 400px;
    background-size: cover;
    /* display: flex;
    flex-direction: column; */
}

.hero nav{
    display:flex; 
    flex-direction: row;
    align-self: flex-end;
    align-items: flex-end; 
    justify-content: space-evenly;
    
    margin-top: 20px;
     margin-right: 20px; 
}
.hero a{
    /* 
    text-decoration: none; */
    display:flex;
    /* justify-content: space-evenly; */
    color: white;
    margin-right: 20px;
    background-color: black;
}
 .hero h2 {
    /* display:flex; */
   /* background-color: antiquewhite; */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 90;
}
.hero h2{
    
    background-color: none;
}

main {
    margin-left: 15px;
    
}
h1 {
    /* display:flex; */
    background-color: whitesmoke;
    display: inline;
    color: white;
    text-align: center;
    padding: 10px;
}
img {
    display:flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 3px;
    border: yellowgreen;
}
ul {
    display: flex;
    flex-direction: row;
}
.InterestsList {
    display: flex;
    flex-direction: column;
}
footer{
    /* display:flex; */
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
}