body {
    font-family: 'Lato', sans-serif;
}
h1 {
    background-color: royalblue;
    color: white;
    text-align: center;
    padding: 10px;
}
img {
    margin: 10px;
    border-radius: 3px;
    border: yellowgreen;
}
footer{
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
}